.navbar-end {
  margin-right: 30%;
}

/* Button location */
.button {
    width: 332px; 
    height: 35px; 
    margin-left: 10px;
}

/* Search bar */
.searchBar {
  margin-left: 10px;
}

.searchArea {
  width: 332px; 
  height: 47px;
}

/* Adding seperation line */
.line {
  border-bottom: 2px solid rgb(18, 2, 2); 
  margin-top: 10px; 
  margin-left: 10px; 
  width: 332px;
}
/* Container to us Flexbox */
.container {
  display: flex;
  align-content: center;
}

.searchHistoryContainer {
  margin: 5px;
}

.weatherInfo {
  margin: 5px;
}

/* Selected City info location */
.cityInfo {
  border-style: solid;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: left;
}

/* Five day forecast content location */
.forecast {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.forecastOne {
  margin-right: 40px;
  padding: 30px;
  background-color: hsl(217, 93%, 17%);
  color: rgb(254, 243, 243);
  width: 200px;
  font-size: 20px;
}

/* Adding Divider */
.horizontal-line {
  width: 20px;
  height: 1px;
  background-color:  hsl(217, 93%, 17%);
  margin-top: 20px;
}

.buttonHistory {
  background-color: hsl(0, 0%, 71%);
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
  margin-top: 5px;
}

